/PizzasEnLinea/build/
/PizzasEnLinea(WS)/build/
/PizzasEnLinea(WS)/dist/
/PizzasEnLinea(backend)/build/
/Librerias/JSONLib/build/
/Librerias/JSONLib/dist/
/Librerias/JSONLib/nbproject/private/
/Librerias/simpleDBLib/build/
/Librerias/simpleDBLib/nbproject/private/